/* menu */
header{
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0 5px;
}
.nav-link{
  color: silver;
  text-decoration: none;
  padding: 2px 5px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 2px outset #333;
  border-radius: 10%;
  text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}
.nav-link:hover{
  animation-name: on-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing: ease-out;
}
@keyframes on-hover{
  100%{
    font-size: 24px;
    color: #44A;
  }
}
@media screen and (max-width: 768px){
  header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
}
/* global */
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}
main{
  display: flex;
  flex-direction: column;
}
/* welcome section */
#welcome-section{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#333, #555, #666, #555, #333, black);
  margin: 0;
  padding: auto 0;
}
#heading{
  text-align: center;
  margin: auto 0;
  padding: 5px 20px;
  border-radius: 5%;
  background-color: hsla(0, 0%, 0%, .3);
  box-shadow: inset 3px 3px 3px 0 hsla(0, 0%, 0%, .3);
  color: silver;
  font-family: sans-serif;
}
#heading h1{
  font-size: 48px;
  margin-bottom: auto;
}
#heading p{
  font-weight: bold;
}

/*project section*/
#projects{
  margin: 0 auto;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.project-tile{
  width: 356px;
  height: 200px;
  font-weight: bold;
}
#project-grid a{
  text-decoration: none;
  color: white;
}
.project-tile:hover{
  animation-name: tile-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing: ease-out;
}
@keyframes tile-hover{
  100%{
    font-size: 20px;
    transform: translatey(-12px);
    color: #44A;
  }
}
#project-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-img{
  width: 100%;
  height: auto;
}
#projects a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#projects a:hover{
  color: #44A;
}
/* contact section */
#contact{
  text-align: center;
  background: linear-gradient(black, blue);
  color: white;
  padding: 50px auto;
}
#contact h2{
  margin-top: 50px;
}
#contact-info{
  display: flex;
  justify-content: center;
}
#contact-info p{
  margin: auto 10px;
}
.contact-method{
  display: flex;
  margin: auto 20px
    50px 20px;
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
.contact-method a{
  margin: auto;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.contact-method img{
  width: 80%;
  height: 80%;
}
.contact-method:hover{
  animation-name: contact-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes contact-hover{
  100%{
    width: 115px;
    height: 115px;
  }
}
/* footer */
footer{
  background-color: black;
  color: white;
  padding-top: 25px;
  text-align: right;
  margin: 0;
}
#footer-text{
  margin-right: 5px;
}
footer a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
footer a:hover{
  color: #44A;
}
